.accordian-item {
  list-style: none;
}

.accordian-item-container {
  position: relative;
  padding: 24px 24px 24px 32px;
}

.accordian-item:not(:first-child) {
  margin-top: 0rem !important;
}

.accordian-item:not(:last-child)::after {
  display: none;
}

.accordian-item-container::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 37px;
  left: -4px;
  z-index: 1;
  width: 8px;
  height: 8px;
  border: 2px solid var(--red);
  border-radius: 50%;
  background-color: #fff;
  z-index: 10;
}
.accordian-item-container::after {
  content: '';
  width: 3px;
  display: inline-block;
  position: absolute;
  top: 37px;
  left: -1px;
  z-index: 1;
  height: 100%;
  background-color: #dddddd;
  z-index: 5;
}
.accordian-item-container.active::before {
  background-color: var(--red);
}

.accordian-item:last-child .accordian-item-container::after {
  display: none;
}

.accordian-headline {
  color: var(--blue);
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.6;
  font-family: verdana, geneva, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.accordian-item-button {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: row;
  border: 0;
  background-color: transparent;
  border: none;
}

.content-container {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
  background-color: var(--backgroundGrey);
  margin-bottom: 3rem;
  font-size: 1.4rem;
  line-height: 1.6;
  box-sizing: border-box;
  line-break: loose;
}

.content-container-inner {
  padding: 1rem;
}

.content-container.active {
  height: auto;
}

.accordian-item:not(:first-child) {
  margin-top: 1rem;
}

.accordian-item:last-child .accordian-item-container::after {
  display: none;
}
