.map-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map-container {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}

.map-sidebar {
  width: 300px;
  padding: 20px;
  background-color: #f0f0f0;
}

.map-map {
  flex: 1;
  height: auto;
}

.map-sidebar h2 {
  margin-top: 0;
}

.map-sidebar p {
  margin-bottom: 10px;
}

.map-sidebar button {
  margin-top: 10px;
}
