.map-container {
  --grey: #3f5b58;
  --red: #c8102e;
  --blue: #01538e;
  --backgroundGrey: #f5f5f5;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row-reverse;
  }
  height: 100%;
}

.map-sidebar {
  overflow-x: hidden;
  padding: 12px;
  height: 50%;
  max-width: calc(100% - 4rem);
  bottom: 0;
  overflow-y: hidden;
  background-color: white;
  padding-top: 40px;
  transition: all 0.3s ease-out;
  position: fixed;
  width: 90%;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  @media (min-width: 768px) {
    padding-top: 60px;
    padding: 1rem;
    left: calc(100% - 20px);
    transform: translateX(-100%);
    top: 20px;
    right: 20px;
    max-height: calc(100% - 40px);
    margin: 0;
    margin-right: 2rem;
    padding: 2rem;
    width: 40%;
    height: 85%;
  }
}

.map-sidebar.inactive {
  height: 75px;
  @media (min-width: 768px) {
    height: 100px;
  }
}

.map-sidebar-content.show {
  height: 100%;
  z-index: -1;
}
.map-sidebar-content {
  transition: all 0.3s ease-out;
  height: 0;
}

.map-sidebar-title {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.5;
  letter-spacing: -1px;
  margin-left: 1rem;

  @media (min-width: 768px) {
    font-size: 2.70588em;
    letter-spacing: -2px;
  }
}

.text {
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: -0.5px;
  line-break: loose;
  @media (min-width: 768px) {
    font-size: 1.5em;
    line-height: 1.5;
    letter-spacing: -0.5px;
    line-break: loose;
  }
}

.map-map {
  flex: 1;
  height: auto;
  transition: transform 0.3s ease-out;
  color: var(--red);
}

.map-container.has-selected-location .map-map {
  transform: translateX(-25%);
}

.map-sidebar h2 {
  margin-top: 0;
}

.map-sidebar p {
  margin-bottom: 1em;
  font-size: 12px;
  @media (min-width: 768px) {
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: -0.5px;
    line-break: loose;
  }
}

.custom-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: relative;
  border: 4px solid;
  border-color: #c8102e;
  color: transparent;
}
.custom-icon.active {
  color: #c8102e;
}

.custom-icon:hover {
  color: #c8102e;
}

.seperator--green {
  width: 100%;
  border: 5px solid #3f5b58;
  box-sizing: border-box;
}
