.map-container {
  --grey: #3f5b58;
  --red: #c8102e;
  --blue: #01538e;
  --backgroundGrey: #f5f5f5;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.map-container {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row-reverse;
  }
  height: 100%;
}

.map-sidebar {
  height: 50%;
  width: 100%;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  padding: 20px;
  margin: 1rem;
  padding-top: 60px;
  transition: transform 0.3s ease-out;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding: 1rem;
  @media (min-width: 768px) {
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    margin-right: 2rem;
    padding: 2rem;
    width: 40%;
    height: 85%;
  }
}

.map-sidebar-title {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: -1px;
  margin-left: 1rem;

  @media (min-width: 768px) {
    font-size: 2.70588em;
    letter-spacing: -2px;
  }
}

.text {
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: -0.5px;
  line-break: loose;
  @media (min-width: 768px) {
    font-size: 1.5em;
    line-height: 1.5;
    letter-spacing: -0.5px;
    line-break: loose;
  }
}

.map-map {
  flex: 1;
  height: auto;
  transition: transform 0.3s ease-out;
}

.map-container.has-selected-location .map-map {
  transform: translateX(-25%);
}

.map-sidebar h2 {
  margin-top: 0;
}

.map-sidebar p {
  margin-bottom: 1em;
  font-size: 12px;
  @media (min-width: 768px) {
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: -0.5px;
    line-break: loose;
  }
}

.custom-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
}

.custom-icon::after {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--red);
  scale: 0;
  transition: scale 0.2s ease;
  box-shadow: 0 0 5px 2px rgba(200, 16, 46, 0.2);
}

.custom-icon:hover::after,
.custom-icon.active::after {
  scale: 1;
}

.seperator--green {
  width: 100%;
  border: 5px solid #3f5b58;
  background-color: #3f5b58;
}
